    <!--content -->
<div class="content">
    <!--section -->
    <section id="sec1">

        <!-- container -->
        <div class="container">
            <!-- profile-edit-wrap -->
        
            <div class="profile-edit-wrap">
                <div class="profile-edit-page-header">
                    <h2>הוספת מתחם חדש</h2>
                    <!--<div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Add Listing</span></div>-->
                </div>
                    
                <div class="rows">

                    <form id="workSpaceData">
                        <div class="col-md-3">
                            <div class="fixed-bar fl-wrap">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>מידע בסיסי</h4>
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-user-circle-o"></i></label><br />
                                    <input type="text" placeholder="שם החלל/סניף" name="Name" ng-model="Name" required />
                                </div>
                            </div>
                            <!-- profile-edit-container end-->
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>תיאור המתחם</h4>
                                </div>
                                <div class="custom-form">
                                    <textarea cols="40" rows="3" placeholder="תיאור החברה יופיע בדף המתחם בו אנשים יוכלו לקבל מידע על אופי המתחם..."></textarea>
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-bars"></i></label><br />
                                    <input type="text" placeholder="גודל המתחם במ''ר" name="Size" />
                                </div>
                            </div>
                            <!-- profile-edit-container end-->
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>פרטי התקשרות</h4>
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-envelope-open-o"></i></label><br />
                                    <input type="text" placeholder="אימל" name="Email" required />
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa-mobile-phone"></i></label><br />
                                    <input type="text" placeholder="טלפון" name="Phone" required />
                                </div>
                            </div>
                            <!-- profile-edit-container end-->
                            <!-- profile-edit-container-->
                            <div id="Address" class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>כתובת</h4>
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-globe"></i></label><br />
                                    <input type="text" placeholder="עיר" name="City" required />
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-street-view"></i></label><br />
                                    <input type="text" placeholder="רחוב" name="Street" required />
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-flag"></i></label><br />
                                    <input type="text" placeholder="מספר" name="Number" required />
                                </div>
                                <div class="custom-form">
                                    <label><i class="fa fa-building-o"></i></label><br />
                                    <input type="text" placeholder="קומה" name="Floor" />
                                </div>
                            </div>
                            <!-- profile-edit-container end-->
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container">
                                <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                    <h4>מדיה</h4>
                                </div>
                                <div class="custom-form">
                                    <label>Facebook <i class="fa fa-facebook" style="color:darkblue"></i></label>
                                    <input type="text" placeholder="https://www.facebook.com/" value="" />
                                    <label>Twitter<i class="fa fa-twitter"></i>  </label>
                                    <input type="text" placeholder="https://twitter.com/" value="" />
                                    <label> Whatsapp <i class="fa fa-whatsapp" style="color:forestgreen;"></i>  </label>
                                    <input type="text" placeholder="https://www.whatsapp.com" value="" />
                                </div>
                            </div>
                            <!-- profile-edit-container end-->
                        </div>
                        <button class="btn  big-btn  color-bg flat-btn" data-ng-click="AddWorkSpace()"> הוסף <i class="fa fa-angle-left"></i></button>
                    </form>
                </div>
            </div>
            <!--profile-edit-wrap end -->
        </div>
        <!--container end -->
    </section>
    <!-- section end -->
    <div class="limit-box fl-wrap"></div>
    <!--section -->
    <section class="gradient-bg">
        <div class="cirle-bg">
            <div class="bg" data-bg="images/bg/circle.png"></div>
        </div>
        <div class="container">
            <div class="join-wrap fl-wrap">
                <div class="row">
                    <div class="col-md-8">
                        <h3>צריך עזרה? רוצה לשאול שאלה?</h3>
                        <p>בכל דבר שרק תרצה SpaceBook פה בשבילך לכל דבר שתצטרך...</p>
                    </div>
                    <div class="col-md-4"><a href="contacts.html" class="join-wrap-btn">פנה אלינו <i class="fa fa-envelope-o"></i></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
</div>

<!-- wrapper end -->