<div class="container">
    <section id="sec1">

        <div class="fixed-bg">
            <div class="bg" data-bg="../../Images/mainOffice.jpg">
                <img src="../../Images/mainOffice.jpg" />
            </div>
            <div class="overlay"></div>
            <div class="bubble-bg"></div>
        </div>
        <div class="cs-wrapper fl-wrap">
            <div class="container small-container counter-widget" data-countDate="09/12/2019">
                <div class="cs-logo"><img src="" alt=""></div>
                <span class="section-separator"></span>
                <h3 class="soon-title">SpaceBook Buisness place</h3>
                <div class="subcribe-form fl-wrap">
                    <p>
                        ברוכים הבאים
                    </p>
                    <form id="subscribe">
                        <!--Make sure the form has the autocomplete function switched off:-->
                        <div autocomplete="off">
                            <div class="autocomplete" style="width:300px;">
                            </div>

                        </div>

                    </form>

                </div>
                <div class="cs-social fl-wrap">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-chrome"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

