<section id="sec1">
    <form>
        <div class="profile-edit-page-header">
            <h2>שינוי סיסמא</h2>
            <div class="breadcrumbs"><a href="/#/HomePage">בית</a><a href="/#/U_Profile">הפרופיל שלי</a><span> שינוי סיסמא <i class="fas fa-unlock"></i></span></div>
        </div>
        <div class="row" style="padding-top:30px;">
            <div class="col-md-2">
                <div class="edit-profile-photo fl-wrap">
                    <img src="../../Images/1.jpg" class="respimg" alt="">
                    <div class="change-photo-btn">
                        <div class="photoUpload">
                            <span><i class="fa fa-upload"></i> Upload Photo</span>
                            <input type="file" class="upload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <!-- profile-edit-container-->
                <div class="profile-edit-container">
                    <div class="profile-edit-header fl-wrap">
                    </div>
                    <div class="custom-form" id="UserData" ng-controller="U_ProfileController">
                        <label>איפוס סיסמא</label>
                        <input style="text-align:right" readonly name="Password" type="text" placeholder="{{CurrUser.Password}}" value="{{CurrUser.Password}}" />

                        <label>חזור על הסיסמא החדשה</label>
                        <input ng-model="CurrUser.Password" style="text-align:right" name="Password" type="text" placeholder="סיסמא חדשה" />


                        <button ng-click="Edit(CurrUser)" class="btn  big-btn  color-bg flat-btn">שמור שינוי</button>

                    </div>
                </div>
                <!-- profile-edit-container end-->
                <!-- profile-edit-container-->
                <!-- profile-edit-container end-->
            </div>
            <div class="col-md-3">
                <div class="fixed-bar fl-wrap">
                    <div class="profile-edit-header fl-wrap">
                        <!--<h4>פרופיל משתמש</h4>-->
                    </div>
                    <div class="user-profile-menu-wrap fl-wrap">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <ul>
                                <li><a href="/#/U_Profile" class="user-profile-act"><i class="fa fa-user-o"></i> עריכת משתמש</a></li>
                                <!--<li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> הודעות <span>3</span></a></li>-->
                                <li><a href="/#/U_ChangePassword"><i class="fa fa-unlock-alt"></i>שינוי סיסמא</a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>רשימות</h3>
                            <ul>
                                <li><a href="dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> ההזמנות שלי <span>2</span></a></li>
                                <li><a href="dashboard-review.html"><i class="fa fa-comments-o"></i> ביקורות </a></li>
                            </ul>
                        </div>
                        <div ng-controller="U_LoginController">
                            <!-- user-profile-menu end-->
                            <button style="text-align:right;margin-left: 60px;" href="#" ng-click="Logout()" class="log-out-btn">Log Out</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <!--profile-edit-wrap end -->
    <!--container end -->
    <!-- section end -->
    <!--footer end  -->
    <a class="to-top"><i class="fa fa-angle-up"></i></a>
</section>
